.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4caf50;
  padding: 20px;
  border-bottom: 2px solid #388e3c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div > div {
  margin-left: auto;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
