.container {
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.input {
  width: 95%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
