.container {
  max-width: 200px;
  margin-top: 10px;
  margin-left: 20px;

  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(197, 197, 197);
}

.number {
  display: flex;
  align-items: center;
  color: rgb(197, 197, 197);
  margin-bottom: 10px;
}

.icon {
  margin-right: 5px;
}

.buttonDel {
  padding: 5px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.buttonEdit {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-left: 15px;
}

.button:hover {
  background-color: #e74c3c;
}
