li {
  list-style: none; /*точки*/
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(43, 43, 43);
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
}
/* ========================= СБРОС СТИЛЕЙ БРАУЗЕРА ========================= */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
