.userMenu {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.userMenu p {
  font-size: 18px;
  color: rgb(197, 197, 197);
}

.userMenu button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.userMenu button:hover {
  background-color: #ff6347;
}
